*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(243, 235, 235);
}

/* ------Grid------ */

#grid{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    grid-template-rows: 100px auto 10px;
    grid-template-columns: 20% auto 15%;
}
.border{
    border: 1px solid black;
}

@media screen and (min-width:0px) and (max-width:480px){ 
    #grid{
            display: grid;
            grid-template-areas: 
            "header  header"
            "main  main"
            "footer footer"; 
            grid-template-rows: 30% auto 10%;
            grid-template-columns: 50% 50%;
      }
      .border{
        border:2px solid black;
      }
}

@media screen and (min-width:480px) and (min-width:768px){ 
    #grid{
        display: grid;
        grid-template-areas: 
        "header  header"
        "main  main"
        "footer footer"; 
        grid-template-rows: 30% auto 10%;
        grid-template-columns: 50% 50%;
      }
      .border{
        border:2px solid black;
      }
}

 @media screen and (min-width:768px) and (max-width:1024px){ 
    #grid{
        display: grid;
        grid-template-areas: 
        "header  header"
        "main  main"
        "footer footer"; 
        grid-template-rows: 30% auto 10%;
        grid-template-columns: 50% 50%;
      }
      .border{
        border:2px solid black;
      }
        
}

/* ------FinGrid------ */

/* ------Encabedazado------ */

header{
    background:rgb(221, 116, 17) ;
    padding: 5px;
    text-align: left;
    border-bottom:solid 5px black;
    position: block;
    grid-area: header;
}
header h1{
     display: inline-block;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 40px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; 
    color: rgb(10, 10, 10);
}

/* ------lista------ */

.menu{
    display: inline-block;
    width: 75%;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;

}
.menu ul{
    list-style: none;
    font-size: 0;
    display: flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap: wrap;
}
.menu ul li{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    margin:5px;
    padding:5px;
    border-radius:10px;
    /* display: inline-block; */
    width: 25%;
    /* position:relative; */
    font-size:14px;
}
.menu ul li a{
    color: white;
    text-decoration: none;
}

/* ------Sublista------ */

.menu ul ul{
    position: absolute;
    display: none;
    z-index: 1;
    width: 20%;
}
.menu ul ul li{
    display:block;
    width: 80%;
}
.menu ul li:hover ul{
    background: gray;
    display: block;
}

/* ------FinSublista------ */

/* ------Finlista------ */

/* ------FinEncabedazado------ */

/* ------Principal------ */

main{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
    grid-area: main;
    align-self: stretch;
}
.indeximg{
    float: right; 
}

#antiguo{
    float: right;
}
p{
    white-space: pre-wrap;
}
img{
    max-width: 50%;
    height: auto;
    display: block;
    border: solid 2px black;
}

ul{
    margin:initial;
    padding: initial;
    list-style: initial;
    list-style-position: initial;
}
/* ------Formulario------ */

.formulario{
    display: block;
}


/* ------FinFormulario------ */

/* ------FinPrincipal------ */

/* ------PiedePagina------ */

footer{
    background-color:rgb(221, 116, 17) ;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    border-bottom:solid 5px black;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
    grid-area: footer;
}

/* ------FinPiedePagina------ */